@{
    ViewBag.Title = "About";
}

@section css {
    <link rel="stylesheet" href="~/Styles/sobre.css" />     
}


 


@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

@*<p>Use this area to provide additional information.</p>*@

<div class="jumbotron">
    
    <div class="media">
                 
        <div class="media-body">
            <h5 class="mt-0">Media heading</h5>
            <p> Cras sit amet nibh libero, in gravida nulla.
             Nulla vel metus scelerisque ante sollicitudin.
             Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
             Fusce condimentum nunc ac nisi vulputate fringilla.
             Donec lacinia congue felis in faucibus.</p>
            <p>
                Cras sit amet nibh libero, in gravida nulla.
                Nulla vel metus scelerisque ante sollicitudin.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                Fusce condimentum nunc ac nisi vulputate fringilla.
                Donec lacinia congue felis in faucibus.
            </p>
            <p>
                Cras sit amet nibh libero, in gravida nulla.
                Nulla vel metus scelerisque ante sollicitudin.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                Fusce condimentum nunc ac nisi vulputate fringilla.
                Donec lacinia congue felis in faucibus.
            </p>
            <p>
                Cras sit amet nibh libero, in gravida nulla.
                Nulla vel metus scelerisque ante sollicitudin.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                Fusce condimentum nunc ac nisi vulputate fringilla.
                Donec lacinia congue felis in faucibus.
            </p>
            <p>
                Cras sit amet nibh libero, in gravida nulla.
                Nulla vel metus scelerisque ante sollicitudin.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                Fusce condimentum nunc ac nisi vulputate fringilla.
                Donec lacinia congue felis in faucibus.
            </p>
            <p>
                Cras sit amet nibh libero, in gravida nulla.
                Nulla vel metus scelerisque ante sollicitudin.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                Fusce condimentum nunc ac nisi vulputate fringilla.
                Donec lacinia congue felis in faucibus.
            </p>
            <p>
                Cras sit amet nibh libero, in gravida nulla.
                Nulla vel metus scelerisque ante sollicitudin.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                Fusce condimentum nunc ac nisi vulputate fringilla.
                Donec lacinia congue felis in faucibus.
            </p>
        </div>

        <img class="img-fluid mr-3" src="~/figura/logo.png" width="500" />

    </div>
</div>

