@{
    ViewBag.Title = "Home Page";      
}

@section css {
   <link rel="stylesheet" href="~/Styles/principal.css" />
<link rel="stylesheet" href="~/Styles/menusom.css" />
<script type="text/javascript" src="~/Scripts/menu_efeito_som .js"></script>
<script type="text/javascript" src="~/Scripts/jquery.js"></script>
<script type="text/JavaScript" src="~/Scripts/som.js">  </script>

}





    <div class="jumbotron">

        <div>

            <a href="/pessoas" class="btn btn-default">Ir para pagina de cadastro</a>
            <a href="/biblia" class="btn btn-default">Vamos ler a biblia</a>

        </div>

    </div>

